name: Spring Build App

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  APP_NAME: task-manager

jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'oracle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.7'
          build-root-directory: 'Task-Manager'

      - name: Run tests via Makefile
        run: make test

  docker-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified

  build-and-push:
    needs: [test-app, docker-lint]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Set Image Name
        shell: bash
        run: |
          TAG="${{ github.ref_name }}-${{ env.APP_NAME }}-latest"
          IMAGE_ID=$(echo "${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.APP_NAME }}" | tr '[A-Z]' '[a-z]')
          echo "FULL_IMAGE_NAME=${IMAGE_ID}:${TAG}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.FULL_IMAGE_NAME }}
          secrets: |
            "sentry_token=${{ secrets.SENTRY_AUTH_TOKEN }}"
          build-args: |
            ENABLE_SENTRY=false

      - name: Output Image Name (Raw format)
        run: echo "${{ env.FULL_IMAGE_NAME }}"